// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-word{
  color:black;
  opacity: 0.7;
}

.select-word:hover{
  color:black;
  opacity: 1;
  text-decoration: none;
}
