// Place all the styles related to the upgrades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upgrade-pic-margin{
  margin-top: 30px;
  margin-bottom: 10px;
}

.upgrade-image{
  position: relative;
  height:100%;
  weight:100%;
  background:image-url('upgrade-pic3') center center no-repeat;
  box-sizing: border-box;
  background-size: cover;
  width: 100%;
  height:320px;
}
