<footer class="footer text-f">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7 text-center">
        copyright © 2017
      </div>
    </div>
  </div>
</footer>
